<div class="comment">
    <div class="inline-block">
        <img src="~/Pictures/CommentImage.png" alt="Comment Phote">
    </div>
    <div class="comment-content inline-block">Comments</div>
</div>
<hr />