<div class="comment">
    <div class="inline-block">
        <img src="~/Pictures/CommentImage.png" alt="Comment Phote">
    </div>
    <div class="comment-content inline-block">Comments</div>
    <div class="manage-post pull-right">
        <a href="#"><span class="glyphicon glyphicon-pencil"></span></a>
        <a href="#"><span class="glyphicon glyphicon-remove"></span></a>
    </div>
</div>
<hr />