@model IEnumerable<SocialNetwork.Business.Contracts.ViewModels.CommentViewModel>

<div class="comments">
    @foreach (var comment in Model)
    {
        @Html.Partial("Comment", comment)
    }
</div>