@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-3 width-inherit">
            @Html.Partial("Profile")
        </div>
        <div class="col-md-9">
            @Html.Partial("Posts")    
        </div>
    </div>
</div>