@model IEnumerable<SocialNetwork.Business.Contracts.ViewModels.PostViewModel>

<div class="posts">
    @if (Model == null || Model.Count() == 0)
    {
        <span class="no-data">There is no information that can be displayed here.</span>        
    }
    else
    {
        @foreach (var post in Model)
        {
            @Html.Partial("Post", post)
        }
    }
</div>