<div class="row post">
    <div class="inline-block">
        <img src="~/Pictures/CommentImage.png" alt="Comment Phote">
    </div>
    <div class="post-content inline-block">Post #1</div>
    <div class="manage-post pull-right">
        <a href="#"><span class="glyphicon glyphicon-pencil"></span></a>
        <a href="#"><span class="glyphicon glyphicon-remove"></span></a>
    </div>
    <hr />
    @Html.Partial("Comments")
    <div class="add-comment pull-right">
        <a href="#">Add Comment</a>
    </div>
</div>   