@model SocialNetwork.Business.Contracts.ViewModels.ProfileViewModel

<div class="profile">
    <div class="profile-photo">
        <img src="~/Pictures/ProfileImage.png" alt="Profile Phote" class="img-rounded">
    </div>
    <div>
        <span>@Model.FirstName @Model.LastName</span>
    </div>
    <div>
        <a asp-controller="Post" asp-action="Create">Add Post</a>
    </div>
    <div>
        <a asp-controller="Profile" asp-action="Edit">Edit Profile</a>
    </div>
</div>