<div class="profile">
    <div class="profile-photo">
        <img src="~/Pictures/ProfileImage.png" alt="Profile Phote" class="img-rounded">
    </div>
    <div>
        <span>Eugene Levchenkov</span>
    </div>
    <div>
        <a href="#">Add Post</a>
    </div>
    <div>
        <a href="#">Edit Profile</a>
    </div>
</div>